body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #13293d;
	background-color: #fff;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
  background-color: #13293d;  
  padding: 0 .75rem;
}

.buy-btn,
.btn-cart {
  font-size: 1.2em;
  color: #E8F1F2;
  min-height: 40px;
  background-color: #1b98e0;
  border: none; 
  border-radius: 5px;
  padding: 5px 15px;
  cursor: pointer;
  transition: background-color .3s;
}

.buy-btn:hover,
.btn-cart:hover {
  background-color: #006494;
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 1200px;
  padding: 24px .75rem 48px;
  margin: 0 auto;
}

.product-item {
  border: 2px solid #247BA0;
  border-radius: 5px;
  overflow: hidden;
}

.product-item img {
  display: block;
  max-width: 100%;
}

.product-item h3 {
  margin: 16px 15px;
}

.product-item p {
  font-weight: 500;
  font-size: 1.5em;
  color: #247BA0;
  margin: 0 15px 28px;
}

.buy-btn {
  display: block;
  width: 100px;
  margin: 0 auto 16px;
}